
@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2.5);
    }
    100% {
        transform: scale(1.5);
    }
}
/* code for the gradient background background: linear-gradient(rgba(156,39,176,0.2), white); */
/* maybe put in the background boxes for the projects in the carousel?
or behind the about me text box? */
html { 
    box-sizing: border-box; /*what is included in the width?*/
  } /* corder-box = border, padding, content*/
  *, *:before, *:after {
    box-sizing: inherit; /* makes it compatible with most browsers*/
  }

html, body { 
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
} 

/* HEADER */
header {
    height: 10%;
    width: 100%;
    top: 0;
    background-color: #4766af;
}

header > h1 {  
    padding: 0 8px; 
    font-size: 24px;
    color: #fbab6a; 
    display: inline-block;
    margin-right: 20px;
}

.nav-container {
    display: inline-block;
}

.nav-link {
    color: #fbab6a;
    text-decoration: none;
    margin-right: 10px;
}

/* PROJECTS (IN BODY) */
.projects { 
    /* line them up horizontally */
    display: flex;
    width: 100%;
    height: 150px;
    /* allow for scrolling */
    /* overflow-x: auto; */
    /* make it smooth on iOS */
    /* -webkit-overflow-scrolling: touch; */
    /* each slide snaps into place */
    /* scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory; */ 
    /* outline: 2px solid red; */
    justify-content: space-evenly;
    margin: 2% auto;
}

div.thumbnail {
    /* make sure the width is honored */
    /* flex-shrink: 0; */
    width: 120px;
    height: 120px;
    /* margin: 2% 5%; */
    transform: scale(1);
    /* outline: 2px solid yellow; */
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.thumbnail > img {
    border: 2px solid #4766af;
    height: 100%;
    width: 100%;
}

.caption {
    text-decoration: none;
    /* outline: 2px solid blue; */
    display: block;
    width: 120px;
    font-size: 12px;
}

/* ABOUT ME (IN BODY) */
.about-me {
    display: flex;
    margin: 0 2%;
    /* outline: 2px solid orange; */
}

.profile-image {
    width: 120px;
    height: 120px; 
    display: block;
    float: left;
    /* padding: 3%; */
    /* outline: 2px solid green; */
}

.profile-image img {
    border: 2px solid #4766af;
    width: 100%;
    border-radius: 50%;
}

/* FOOTER INCLUDING CONTACT LINKS */
footer {
    background-image: url(../images/garter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 10%;
    min-width: 100%;
    bottom: 0;
    /* outline: 2px solid rebeccapurple */
    /* position: fixed; */
}

.contact-links {
    padding: 8px 12px;
    display: flex;
    justify-content: center;
}

.contact-links i {
    font-size: 30px;
}

.contact-links .fab,
.contact-links .fas,
.contact-links .far {
    color: #fbab6a;
    padding: 0 8px;
    margin: 0 8px;
    /* transition: transform .5s cubic-bezier(0,.76,.43,.9); */
}

.contact-links a:hover .fab, 
.contact-links a:hover .fas, 
.contact-links a:hover .far,
.contact-links a:active .fab,
.contact-links a:active .fas,
.contact-links a:active .far { 
    color: rebeccapurple;
    animation-name: zoom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
} 

/* MEDIA QUERIES */
/* 
response web design implementation
aka media queries
if/else statements for your css
*/

/* 
start minimal, add on as needed for bigger screens

common "breakpoints" (ish)
think of s, m, l, xl, hugenormous
500px
768px
1024px
1200px
1400px
*/

@media screen and (min-width: 500px) {
    
/* 1. turn the section .about-me section
into a flex container
2. set the width of the .about-me-container
so that it takes up 70% of the width 
3. set the width of the .profile-image
so that it looks reasonable
4. tweak the sizes because it'll look jacked up
on the first few attempts */

    .about-me {
        display: flex;
        flex-direction: row-reverse;
    }

/* descendant selector */
/* .about-me div { */
    /* these apply to any div anywhere
    inside of .about-me */
/* } */
/* direct child selector 
only affects the first level
within about-me*/

    /* .about-me > div {
        outline: 1px solid rebeccapurple;
    } */

    .about-me-container {
        /* box sizing: border -box
        makes this behave in a sane way
        without it, the container takes up
        70% + 18px (not possible math) */
        width : 70%;
        padding-right: 18px;
    }


/* .profile-image {
    /* outline: 5px solid rebeccapurple; */
    /* width: 200px;  */

    .profile-image {
        width: 30%;
    }
}

@media screen and (min-width: 700px) {
    .hero-text h2 {
    font-size : 48px;
    }
    .header-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* .header-text > * { /* * is universal selector; use sparingly, makes browser work hard*/
        /* outline: 1px solid rebeccapurple;
    } */
}

/* @media screen and (min-width: 700px) {
    .header-text > nav {
        display: none;
    }
} */