/*==================
== ICON ANIMATION
====================*/
@keyframes zoom {
    0% {
    transform: scale(1);
    }
    70% {
    transform: scale(2.5);
    }
    100% {
    transform: scale(1.7);
    }
}

/*==================
== WHOLE DOC
=================*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    background-color: ghostwhite;
}

/*==============
== HEADER
===============*/

header {
    min-height:60%;
    width:100%;
    color: darkblue;
    border:2px solid rgba(0,0,0,0);
}

.nav-container  a {
    margin-top: 3%;
    float: right;
    text-decoration: none;
    padding: 1%;
    /* border: 2px solid orange; */
}

.title {
    /* border: 2px solid yellow; */
    font-size: 48px;
    text-align: center;
    margin-top: 30%;
    background-color: rgba(255, 255, 255, 0.5);
}

.subtitle {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.hero-image {
background-image: url("../images/sky.jpg");
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
min-height: 100%;
min-width: 100%;
}

/*==============
== ABOUT ME
===============*/
.about-me-container {
    width: 96%;
    margin: 2%;
    color: darkblue;
    font-size: 14px;
}

.about-me-container a {
    text-decoration: none;

}

.profile-image img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    float: left;
    margin: 2%;
    /* border: 2px solid blue; */
    shape-outside: circle();
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 0;
}

.technologies i {
    font-size: 30px;
}

.techicon {
    width: auto;
    height: 50px;
    margin: 5px;
    text-align: center;
    font-size: 12px;
}

/*===============
==PROJECTS
================*/
.project-container {
    width: 96%;
    height: 155px;
    margin: 2%;
    color: darkblue;
    text-decoration: none;
    font-size: 14px;
    overflow: auto;
}

.project-image {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 3%;
}

.project-image img {
    width:100%;
    height:100%;
}

.project-container h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.project-container a {
    margin-top: 1%;
    text-decoration: none;
}
/*=============
==FOOTER
==============*/
footer {
    width: 100%;
    height: 13%;
    max-height: 50px;
}

.contact-links {
    background-image: url("../images/knitfooter.jpg");
    background-size: cover;
    /* background-color: darkblue; */
    padding: 10px 12px;
    display: flex;
    justify-content: flex-end;
}

.contact-links .fab,
.contact-links .fas, 
.contact-links .far {
    color: ghostwhite;
    font-size: 36px;}

.contact-links a {
    margin: 0 18px;
}

.contact-links a:hover .fab,
.contact-links a:hover .fas,
.contact-links a:hover .far,
.contact-links a:active .far,
.contact-links a:active .fab,
.contact-links a:active .fas {
    color: #2166ec;
    animation-name: zoom;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}